.site-actions {

  &__avatar {
    margin-left: 15px;
  }

  &__usermenu {
    background: #fff;
    border: 1px solid $colour-light-grey;
    box-shadow: 0 0 4px $colour-light-grey;
    padding-bottom: 5px;
    width: 200px;

    // MBTODO Lots of repeated content in creating arrows - refactor into a reusable mixin perhaps?
    &:before {
      content: "";
      display: block;
      width: 0; 
      height: 0; 
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid $colour-light-grey;
      

      position: absolute;
      top: -9px;
      right: 13px;
    }
    &:after {
      content: "";
      display: block;
      width: 0; 
      height: 0; 
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #fff;

      position: absolute;
      top: -8px;
      right: 13px;
    }
  }

  &__usermenu-item {
    padding: 6px 15px;
    &--bordered {
      border-bottom: 1px solid $colour-light-grey;
      padding: 10px 15px;
      margin-bottom: 5px;
    }

    a {
      color: $colour-black;
      display: block;
      line-height: 28px;
      &:hover {
        color: $colour-pink;
      }
    }
  }
}
