// FL Colours from https://www.futurelearn.com/pattern-library/core-patterns#colours

$colour-blue: #0000ff;

$colour-pink: #de00a5;

$colour-yellow: #fecb51;

$colour-purple: #5600a7;

$colour-black: #3a343a;

$colour-cool-grey: #4a4d55;

$colour-medium-grey: #727376;

$colour-light-grey: #ededee;

$colour-gainsboro-grey: #fafafa;
